*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.back{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
.bar{
    width: 85%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.bar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.bar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.bar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.bar ul li:hover::after{
    width: 100%;
}
section{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
h1{
    text-align: center;
    padding-bottom: 40px;
    color: aliceblue;
}
.wrapper{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box{
    width: 300px;
    color: #fff;
    padding: 20px;
}
.box img{
    width: 300px;
    height: 320px
}

.miss{
    margin-top: 50px;
}
.viss{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}
.viss .goal{
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 25px;
  line-height: 20px;
  color: whitE;
  position: relative;
}
.viss .goal h3{
  color: white;
  font-size: 25px;
  margin-top: 10px;
}
.viss .goal p{
  color: white;
  margin: 20px 0;
  font-size: 15 px;
  text-transform: uppercase;
}


