*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
   background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
     background-size: cover;
    background-position: center;
    padding: 100px;
}
section{
    color: aliceblue;
    display: block;
    border: 10px solid grey;
}
.info{
    border: 10px;
    color: white;
}
.style{
    color: #ffffff;
    padding: 10px;
}
.style p{
    text-align: justify;
    max-width: 700px;
}
.a{
    font-size: 20px;
}
.btn{
    background-color: black;
    color: wheat;
    text-decoration-color: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
}

@media only screen and (max-width: 900px){
    .container{
        padding: 10px;
    }
}