*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: sticky;
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 100%; 
}
button{
    background-color: black;
    color: wheat;
    text-decoration-color: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    
}
.container{
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 100px;
}
img{
    max-width: 70%;
}

.btn{
    background-color: black;
    color: wheat;
    text-decoration-color: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
}


/*

@media screen and(max-width: 400px){
    .container{
        height: 20vh !important;
    }
    img{
        width: 100%  !important;
        height: 100vh !important;
    }
    .swiper-slide{
        flex-basis: 100%;
    }
}
*/
    