*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}
.container .swiper h2{
    color: white;
    text-align: center;
    justify-content: center;
}

.swiper{
    width: 100%;
    margin: auto;
    text-align: center;
    height: 100vh;
    
    
}
.swiper-slide img{
    max-width: 300px;
    padding-top: 20px;
}
nav{
    position: sticky;
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 100%;

    
}
button{
    background-color: black;
    color: wheat;
    text-decoration-color: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    
}

/*
@media only screen and(min-width: 1078px){
    .swiper-slide img{
        width: 300px !mportnat;
        padding-top: 20px;

    
}
}

@media only screen and(max-width: 480px) {
    .swiper{
        padding: 0;
    }
    .swiper-slide img{
    width: 100%;
    background-color: aqua;
  
    }
}*/
